<section class="hero is-fullheight hero3">
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
  <%= form_for(@calory) do |form| %>
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="columns is-8 is-variable ">
          <div class="column is-two-thirds has-text-left">
            <h1 class="title is-1"><%= name %></h1>
            <p class="is-size-4"><%= comment %> </p>

          </div>


          <div class="column is-one-third has-text-left">
            <div class="field">
              <label class="label">Type of calories</label>
              <div class="control">
                <%= form.select :type, ['burned', 'gained'], class:"input is-medium dropdown-menu dropdown-item" , id:"dropdown-menu" ,role:"menu"%>
              </div>
            </div>
            <div class="field">
              <label class="label">In what made them</label>
              <div class="control">
                <%= form.text_field :description_calory, placeholder: "Calories Burned",class:"input is-medium"%>
              </div>
            </div>
            <div class="field">
              <label class="label">Calorie comment</label>
              <div class="control">
                <%= form.text_field :comment_calory , placeholder: "Comment of the calories eaten" ,  class:"input is-medium" ,style:"height:180px;"  %>
              </div>
            </div>

            <div class="field">
              <label class="label">Amount of calories</label>
              <div class="control">
                <%= form.text_field :cont_calories , placeholder: "Comment of the calories eaten" ,  class:"input is-medium"  %>
              </div>
            </div>

            <div class="field">
              <label class="label">Date</label>
              <div class="control">
                <%= form.date_field :date_calory , placeholder: "Date" ,  class:"input is-medium"   %>
              </div>
            </div>
            <div class="control">
              <%= form.submit class:"button is-link is-fullwidth has-text-weight-medium is-medium"%>
            </div>
          </div>
        </div>
      </div>
    </div>

  <% end %>
  <%= link_to 'Back', calories_path , class:"button is-link is-fullwidth has-text-weight-medium is-medium"%>
</section>
