<section class="hero is-medium fondo3">

  <div class="hero-body has-text-centered">
    <h1 class="title is-2">Your registration</h1>
    <div id="hero-input-group" class="field has-addons has-addons-centered">
    </div>
  </div>
</section>
</br>
</br>
<div class="container is-max-desktop">
<div class="card-table">
  <div class="content">
    <table class="table is-fullwidth is-striped">
      <thead>
      <tr>
        <th>Type of calorie</th>
        <th>Comment eaten calories</th>
        <th>Amount of calories</th>
        <th>Description</th>
        <th>Date</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= @calory.type %></td>
        <td><%= @calory.comment_calory %></td>
        <td><%= @calory.cont_calories %></td>
        <td><%= @calory.description_calory %></td>
        <td><strong><%= @calory.date_calory %></strong></td>
      </tr>
      </tbody>
    </table>
  </br>
  </div>
</div>
  <%= link_to 'Back', calories_path , class: "button is-link button is-primary is-medium"%>
</div>



