<section class="hero is-medium fondo3">

  <div class="hero-body has-text-centered">
    <h1 class="title is-2">Your registration</h1>
    <div id="hero-input-group" class="field has-addons has-addons-centered">
    </div>
  </div>
</section>
</br>
</br>
<div class="container is-max-desktop">
<div class="card-table">
  <div class="content">
    <table class="table is-fullwidth is-striped">
      <thead>
      <tr>
        <th>Eaten calories</th>
        <th>Comment eaten calories</th>
        <th>Date</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= @weight.eat_calorie %></td>
        <td><%= @weight.comment_calories_eaten %></td>
        <td><strong><%= @weight.date %></strong></td>
      </tr>
      </tbody>
    </table>
  </br>
    </br>
    <table class="table is-fullwidth is-striped">
      <thead>
      <tr>
        <th>Burned calories</th>
        <th>Comment burned calories</th>
        <th>Date</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= @weight.burn_calorie %></td>
        <td><%= @weight.comment_calories_burned %></td>
        <td><strong><%= @weight.date %></strong></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
  <%= link_to 'Back', weights_path , class: "button is-link button is-primary is-medium"%>
</div>



