<section class="hero is-fullheight hero3">
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
  <%= form_for(@weight) do |form| %>
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="columns is-8 is-variable ">
          <div class="column is-two-thirds has-text-left">
            <h1 class="title is-1"><%= title %></h1>
            <p class="is-size-4"><%= comment %> </p>

          </div>
          <div class="column is-one-third has-text-left">
            <div class="field">
              <label class="label">Your weight</label>
              <div class="control">
                <%= form.text_field :weight, placeholder: "Weight",class:"input is-medium"%>
              </div>
            </div>
            <div class="field">
              <label class="label">Years old</label>
              <div class="control">
                <%= form.text_field :years_old, placeholder: "years_old",class:"input is-medium"%>
              </div>
            </div>
            <div class="field">
              <label class="label">Height in cm</label>
              <div class="control">
                <%= form.text_field :height, placeholder: "Height",class:"input is-medium"%>
              </div>
            </div>
            <div class="field">
              <label class="label">Sex</label>
              <p>Please enter F or M</p>
              <div class="control">
                <%= form.text_field :sex, placeholder: "Sex",class:"input is-medium"%>
              </div>
            </div>
            <div class="field">
              <label class="label">Date</label>
              <p>Please enter Date</p>
              <div class="control">
                <%= form.date_field :date_weight, placeholder: "Date",class:"input is-medium"%>
              </div>
            </div>

            <div class="field">
              <label class="label">Description </label>
              <p>Please enter a short description about your weight</p>
              <div class="control">
                <%= form.text_area :description_weight, placeholder: "Description",class:"input is-medium", style:"height:180px;" %>
              </div>
            </div>

            <div class="control">
              <%= form.submit class:"button is-link is-fullwidth has-text-weight-medium is-medium"%>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <%= link_to 'Back', weights_path , class:"button is-link is-fullwidth has-text-weight-medium is-medium"%>
</section>
