<section class="hero is-medium fondo3">

  <div class="hero-body has-text-centered">
    <h1 class="title is-2">Your registration about Weight</h1>
    <div id="hero-input-group" class="field has-addons has-addons-centered">
    </div>
  </div>
</section>
</br>
</br>
<div class="container is-max-desktop">
  <div class="card-table">
    <div class="content">
      <table class="table is-fullwidth is-striped">
        <tbody>
        <% @weights.each do |load| %>
          <tr>
            <td width="5%"><i class="fa fa-bell-o"></i></td>
            <td><%= load.user.email %><a> Register date : </a> <%= load.date_weight %></td>
            <td class="level-right"><%= link_to 'Show' , load ,class:"button is-small is-primary" %><a>|</a>  <%= link_to 'Destroy', load, method: :delete, data: { confirm: 'Are you sure?' } , class:"button is-small is-primary"%><a>|</a> <%= link_to 'Update', edit_weight_path(load), class:"button is-small is-primary" %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <div class="columns">
      <div class="column is-3">
        <article>
          <figure class="image is-5by3">
            <%= link_to image_tag("image_Home/imagen-peso.jpg", alt: "fondo image", width:"160"),
                        new_weight_path %>
          </figure>
          <h2 class="subtitle">Register your weight</h2>
        </article>
      </div>
      <div class="column is-3">
        <article>
          <figure class="image is-5by3">
            <%= link_to image_tag("image_Home/image-estadistica.png", alt: "fondo image", width:"160"),
                        result_path %>
          </figure>
          <h2 class="subtitle">Estadistics</h2>
        </article>
      </div>
    </div>

  </div>
  <%= column_chart Weight.group_by_day(:date_weight).sum(:weight) %>
  </br>
  </br>
  <%= link_to 'Back', calories_path  , class: "button is-link button is-primary is-medium"%>
</div>

